<h1>Assignment 7 (Midsem)</h1>

<h3>Libraries</h3>

In [13]:
import pandas as pd
import numpy as np
import plotly.express as px
from scipy.stats import kurtosis,skew
import statsmodels.api as sm
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
# pd.set_option('display.max_rows', None)  # Show all rows
# pd.set_option('display.max_columns', None)  # Show all columns

<h3>Data Preparation</h3>

In [14]:
Main_data = pd.read_csv("e7-htr-currernt.csv")

Adding Day, Time to the data

In [15]:
def convert_time_format(time_str):
    hours, minutes = map(int, time_str.split(':'))
    
    formatted_time = '{:02d}:{:02d}:00'.format(hours, minutes)
    
    return formatted_time

day_calc = Main_data['Timestamp']
Day = [day_calc[i][:2] for i in range(0, len(day_calc))]

Main_data['Day'] = Day

time_calc = Main_data['Timestamp']
Time = [convert_time_format(time_calc[i][12:18]) for i in range(0, len(time_calc))]

Main_data['Time'] = Time

Main_data

              Timestamp  HT R Phase Current Day      Time
0      23-12-2018 05:30                 0.0  23  05:30:00
1      23-12-2018 05:35                 0.0  23  05:35:00
2      23-12-2018 05:40                 0.0  23  05:40:00
3      23-12-2018 05:45                 0.0  23  05:45:00
4      23-12-2018 05:50                 0.0  23  05:50:00
...                 ...                 ...  ..       ...
81721  04-10-2019 23:35                 0.0  04  03:35:00
81722  04-10-2019 23:40                 0.0  04  03:40:00
81723  04-10-2019 23:45                 0.0  04  03:45:00
81724  04-10-2019 23:50                 0.0  04  03:50:00
81725  04-10-2019 23:55                 0.0  04  03:55:00

[81726 rows x 4 columns]

Removing the observations which are below 1 ampere.

In [17]:
Revised_main_data = Main_data[Main_data['HT R Phase Current'] > 10]
Revised_main_data

              Timestamp  HT R Phase Current Day      Time
34     23-12-2018 08:20               15.12  23  08:20:00
57     23-12-2018 10:15               32.16  23  00:15:00
58     23-12-2018 10:20               47.15  23  00:20:00
59     23-12-2018 10:25               47.59  23  00:25:00
60     23-12-2018 10:30               56.74  23  00:30:00
...                 ...                 ...  ..       ...
81328  03-10-2019 14:50               53.22  03  04:50:00
81329  03-10-2019 14:55               87.14  03  04:55:00
81330  03-10-2019 15:00               66.66  03  05:00:00
81331  03-10-2019 15:05               26.90  03  05:05:00
81332  03-10-2019 15:10               37.44  03  05:10:00

[25926 rows x 4 columns]